{% extends "base.html" %}

{% block title %}Django Skeleton with Bootstrap{% endblock %}

{% block container %}
    <h2>Simple Application: Add a Bank</h2>
    <form role="form" method='POST'>
        {% for field in bank_form %}

            <div class="form-group">
                {{ field.label_tag }} 
                
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}

                <input type="{{ field.html_name }}" class="form-control"
                        value="{{ field.value | default:"" }}"
                        name="{{ field.name }}" />
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-default">Submit</button>
        {% csrf_token %}
    </form>

    <h2>Already added banks</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Boss</th>
            <th>Phone</th>
        <tr>
        {% for bank in bank_list %}
            <td>{{ bank.name }}</td>
            <td>{{ bank.city }}</td>
            <td>{{ bank.boss }}</td>
            <td>{{ bank.phone }}</td>
        {% endfor %}
        </tr>
    </table>
{% endblock %}
